#identity
{
   overflow: auto;
}
#image01{
   height: 65%;
   width: 45%;
    float: left;
    padding: 0px 20px 8px 15px;
}
#image02{
    height: 65%;
    width: 45%;
     float: right;
     padding: 45px 08px 08px 20px;
 }