#identity
{
   overflow: auto;
}
#image01{
   height: 50%;
   width: 42%;
    float: left;
    padding: 0px 35px 4px 1px;
}
#image02{
    height: 50%;
    width: 45%;
     float: right;
     padding: 50px 0px 05px 65px;
     
 }